:root {
    --main-width: 900px;
    --nav-width: 1204px;
}

.post-content h2 {
    margin-top:80px;
    margin-bottom:10px;
}

.post-content h4 {
    margin-top:40px;
}

.post-content hr {
    margin-top:0px;
}

.post-content h6 {
    margin-top:5px;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    font-size: 10px;
    font-style: italic;
    word-break: break-word;
    text-align: center;
}

.post-content p,
.post-content img {
  margin-bottom: 0px;
}
